header.header
	.header__inner.container
		include parts/mobile-nav
		.header__logo
			a(href="index.html").logo
				img(src="images/logo.png", alt="").logo__img
				img(src="images/logo-mob.png", alt="").logo__img--mobile

		.header__contact-info
			.contact-info
				.contact-info__icon
					i.icon.icon-whatsapp
				.contact-info__content
					.contact-info__worktime 
						| доставим с 10
						sup 00
						|  до 03
						sup 00
					.contact-info__phone 
						| +7 (701) 888 85 34
						i.contact-info__toggler.icon.icon-arrow-down
					.contact-info__details
						.contact-info__phone +7 (727) 390 20 20
						nav.contact-info__schedule
							h4.contact-info__schedule-title График работы:
							ul.contact-info__schedule-list
								li.contact-info__schedule-item
									span.contact-info__schedule-date пн – чт:
									span.contact-info__schedule-time 10:00 – 03:00
								li.contact-info__schedule-item
									span.contact-info__schedule-date Пт – Сб:
									span.contact-info__schedule-time 10:00 – 05:00
								li.contact-info__schedule-item
									span.contact-info__schedule-date Вс:
									span.contact-info__schedule-time 11:00 – 03:00
						a(href="").contact-info__action 
							i.icon.icon-whatsapp-small
							span WhatsApp

		.header__user-auth
			.user-auth
				.user-auth__avatar
					i.icon.icon-user
				.user-auth__details
					-var isLogged = true;
					- if ( isLogged === true ) {
							a(href="personal.html").user-auth__user-name Евгений
							a(href="registration.html").user-auth__user-logout (выйти)
							.user-auth__user-discount ваша скидка 5%
					- } else {
							a(href="").user-auth__link Мой кабинет
							a(href="").user-auth__link Регистрация
					- }

		.header__cart
			a(href="cart.html").cart
				span.cart__icon
					i.icon.icon-cart
				span.cart__details
					span.cart__details-text Корзина 
					span.cart__details-qty (12)
		.header__langs
			.langs
				a(href="").langs__item Kz
				a(href="").langs__item.is--current Ru
				a(href="").langs__item En

- var categories = ['Пицца','Роллы','Суши','Сеты','Wok','Супы','Салаты','Закуски','Деское меню','Напитки','Десерты','Соуса','Акции']
menu.nav
	.container
		ul.nav__list
			each category, indexNum in categories
				-var superItem = 'is--main-category';
				-if (indexNum>3) { superItem = '' }
				li(class="nav__item "+superItem)
					a(href="category.html").nav__link= category
