each order in [1,2,3]
	table.personal__order
		tr
			th Номер заказа:
			td 2577965
		tr
			th Дата:
			td 15.12.2017   10:19
		tr
			th Адрес:
			td Ломоносова ул 11, 55
		tr
			th Телефон:
			td +38 098 115 75 35
		tr
			th Заказ:
			td 
				| х1 
				a(href="") Black Капрезе
				|  38см
				br
				| х1 
				a(href="") Четыре сыра
				|  38см
		tr
			th ВСЕГО:
			td
				| 4 380 
				span тнг
				br
				a(href="") Повторить заказ







