.row
  .col.col--5-of-12.col--s-12-of-12.col--m-12-of-12.col--l-5-of-12
    form(action="").form.js-form-personal-passsword
      .form__field
        label.form__label Старый пароль
        input(type="password", name="old_password").form__input
      .form__field
        label.form__label Новый пароль
        input(type="password", name="new_password").form__input
      .form__field
        label.form__label Повторите пароль
        input(type="password", name="repeat_password").form__input
      .form__action
        button(type="submit").btn.btn--primary.btn--lg Сохранить