.header{
	@include media('<700px'){
    width: 100%;
    background: $color__primary;
    .is--fixed-nav & {
      margin-bottom: 49px;
    }
	}
}
.header__inner{
  position: relative;
  padding-top: 12px;
  text-align: justify;
  &:after{
    display: inline-block;
    width: 100%;
    content: '';
  }
	@include media('<700px'){
    padding-top: 5px;
    padding-bottom: 13px;
	}
  @include support(1, ('display: flex')) {
    .header__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
    .header__inner:after{
      display: none;
    }
  }
}
.header__logo{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.header__contact-info{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.header__user-auth{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
	@include media('<700px'){
		display: none;
	}
}
.header__cart{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
	@include media('<700px'){
    min-width: 54px;
	}
}
.header__langs{
  position: absolute;
  top: 0; right: 15px;
  text-align: left;
	@include media('<700px'){
    display: none;
	}
}