.mobile-nav__toggle-wrapper
  .js-nav-toggle.mobile-nav__toggle
    span.icon-nav toggle menu

// MENU
nav.mobile-nav
  .mobile-nav__inner
    .mobile-nav__block.is--centered
      .inline
        a.mobile-nav__link(href='/registration.html') Войти
      
      .langs.is--mobile
        a(href="").langs__item Kz
        a(href="").langs__item.is--current Ru
        a(href="").langs__item En
    .mobile-nav__block
      h4.mobile-nav__title Меню Доставки
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Пицца
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Роллы
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Суши
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Сеты
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Wok
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Супы
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Салаты
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Закуски
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Деское меню
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Напитки
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Десерты
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Соуса
        li.mobile-nav__item
          a.mobile-nav__link(href='/category.html') Акции
        
    .mobile-nav__block
      h4.mobile-nav__title Личный кабинет
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='/personal.html') Личные данные
        li.mobile-nav__item
          a.mobile-nav__link(href='/personal.html') История заказов
        li.mobile-nav__item
          a.mobile-nav__link(href='/personal.html') Адреса
        li.mobile-nav__item
          a.mobile-nav__link(href='/personal.html') Смена пароля
        li.mobile-nav__item
          a.mobile-nav__link(href='/personal.html') Ваша скидка

    .mobile-nav__block
      h4.mobile-nav__title Информация
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='/delivery.html') Условия доставки
        li.mobile-nav__item
          a.mobile-nav__link(href='/payment.html') Оплата
        li.mobile-nav__item
          a.mobile-nav__link(href='/specials.html') Акции
        li.mobile-nav__item
          a.mobile-nav__link(href='') Возврат товара

    .mobile-nav__block
      h4.mobile-nav__title Компания
      ul.mobile-nav__list
        li.mobile-nav__item
          a.mobile-nav__link(href='/about.html') О компании
        li.mobile-nav__item
          a.mobile-nav__link(href='') Юридический адрес
        li.mobile-nav__item
          a.mobile-nav__link(href='') Конфиденциальность
        li.mobile-nav__item
          a.mobile-nav__link(href='/contacts-us.html') Свяжитесь с нами