.order-change.js-order-change
	.order-change__inner
		div(data-value="без сдачи").order-change__item.is--active.js-order-change-item без сдачи
		div(data-value="5000").order-change__item.js-order-change-item 5000
		div(data-value="10 000").order-change__item.js-order-change-item 10 000
		div(data-value="20 000").order-change__item.js-order-change-item 20 000
