.product-qty.js-qty
	i.product-qty__minus.icon.icon-minus.js-qty-minus
	input(type="text", name="product_qty", value="1" disabled).product-qty__value.js-qty-value
	i.product-qty__plus.icon.icon-plus.js-qty-plus