.cart-single{}
.cart-single__header{
  @include clearfix();
  padding: 0 0 20px 0;
}
.cart-single__header-title{
  float: left;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  color: $color__base;
  @include media('<760px'){
    float: none;
  }
}
.cart-single__header-reset{
  float: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  text-decoration: underline;
  text-transform: uppercase;
  transition: 300ms all linear;
  color: $color__silver;
  cursor: pointer;
  @include media('<760px'){
    float: none;
  }
  &:hover{
    color: $color__primary;
  }
}
.cart-single__table{
  display: table;
  width: 100%;
}
.cart-single__row{
  position: relative;
  display: table-row;
  @include media('<920px'){
    display: block;
  }
  &.is--head{
    @include media('<920px'){
      display: none;
    }
  }
}
@include support(1, ('display: flex')) {
  .cart-single__row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid $color__smoke;
    flex-wrap: wrap;
    &:last-child{
      border-bottom: none;
    }
  }
}
.cart-single__cell{
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0 25px;
  border-bottom: 1px solid $color__smoke;
  width: 160px;
  @include media('<1150px'){
    width: 120px;
  }
  @include media('<920px'){
    display: block;
    text-align: center;
  }
  @include media('<=600px'){
    padding: 10px 0 0 0;
  }
  &:first-child{
    width: 460px;
    @include media('<1150px'){
      width: 360px;
    }
    @include media('<920px'){
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4){
    @include media('<=600px'){
      display: none;
    }
  }
  &:last-child{
    text-align: center;
    width: 100px;
    @include media('<=600px'){
      padding: 0;
    }
  }

  .is--head &{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: $color__silver;
    &:last-child{
      text-align: center;
      width: 100px;
    }
  }
}
  
@include support(1, ('display: flex')) {
  .cart-single__cell {
    display: flex;
    width: 160px;
    align-items: center;
    border-bottom: none;
    flex-wrap: wrap;
    justify-content: center;
    @include media('<1150px'){
      width: 120px;
    }
    &:first-child{
      width: 460px;
      flex-shrink: 0;
      justify-content: flex-start;
      @include media('<1150px'){
        width: 360px;
      }
      @include media('<920px'){
        display: flex;
        width: 100%;
        width: percentage(1/1);
        text-align: center;
      }
      @include media('<480px'){
        justify-content: center;
      }
    }
    &:last-child{
      justify-content: flex-end;
    }
    
    @include media('<480px'){
      width: 100%;
      flex-basis: percentage(1/1);
      justify-content: center;
      text-align: center;
    }
  }
}

.cart-single__action{
  padding: 30px 0;
  text-align: center;
}
.cart-single__footer{
  display: table;
  width: 100%;
  @include media('<920px'){
    display: block;
    text-align: center;
  }
}
.cart-single__footer-left{
  display: table-cell;
  vertical-align: middle;
  padding: 30px 0;
  padding-left: 200px;
  width: 60%;
  @include media('<920px'){
    display: inline-block;
    width: auto;
    margin-right: 50px;
    float: none;
    text-align: left;
    padding-left: 0;
    vertical-align: middle;
  }
}
.cart-single__footer-right{
  display: table-cell;
  vertical-align: middle;
  padding: 30px 0;
  width: 40%;
  text-align: center;
  @include media('<920px'){
    display: inline-block;
    width: auto;
    float: none;
    text-align: left;
    padding-left: 0;
    vertical-align: middle;
  }
}
.cart-single__footer-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $color__base;
}
.cart-single__footer-total-price{
  display: inline-block;
  position: relative;
  padding-right: 15px;
}
.cart-single__footer-total-price-value{
  @extend .cart-single__product-price-value;
}
.cart-single__footer-total-price-currency{
  @extend .cart-single__product-price-currency;
}

.cart-single__product-photo{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 180px;
  img{
    max-width: 180px;
  }
  @include media('<920px'){
    display: inline-block;
    text-align: center;
  }
  @include media('<640px'){
    display: block;
    float: left;
    width: 180px;
  }
}
.cart-single__product-details{
  display: table-cell;
  vertical-align: middle;
  padding-left: 35px;
  width: calc(100% - 180px);
  @include media('<920px'){
    display: inline-block;
    text-align: left;
  }
  @include media('<640px'){
    float: left;
    display: block;
    padding-left: 10px;
    text-align: left;
  }
}
.cart-single__product-title{
  display: block;
  width: 100%;
  margin: 0 0 10px;
  @include media('<=600px'){
    display: none;
  }
  &.is--mobile-only{
    display: none;
    text-align: left;
    @include media('<=600px'){
      display: block;
    }
  }
}
.cart-single__product-title-link{
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  color: $color__base;
  text-decoration: none;
}
.cart-single__product-variant{
  display: inline-block;
  min-width: 70px;
  vertical-align: middle;
  color: $color__base;
  @include media('<=600px'){
    display: none;
  }
  &.is--mobile-only{
    display: none;
    @include media('<=600px'){
      display: block;
      position: absolute;
      bottom: 0; left: 0;
      padding: 5px 10px;
      background-color: #e4002b;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #ffffff;
    }
  }
}
.cart-single__product-variant-value{
  display: inline-block;
  vertical-align: middle;
}
.cart-single__product-variant-dimension{
  display: inline-block;
  vertical-align: bottom;
  line-height: 20px;
}
.cart-single__product-additives{
  display: inline-block;
  vertical-align: middle;
  min-width: 120px;
  font-weight: 300;
  line-height: 24px;
  color: $color__darkgray;
}
.cart-single__product-additives-value{
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $color__darkgray;
}
.cart-single__product-additives-text{
  margin-left: 5px;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  color: $color__darkgray;
}

.cart-single__product-qty{
  float: none;
  padding-left: 0;
  @include media('<=600px'){
    display: none;
  }
  &.is--mobile-only{
    display: none;
    @include media('<=600px'){
      display: block;
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }
}
.cart-single__product-qty-value{}
.cart-single__product-price{
  font-weight: 400;
  line-height: 24px;
  color: $color__darkgray;
  @include media('<=600px'){
    display: none;
  }
  &.is--mobile-only{
    display: none;
    @include media('<=600px'){
      display: block;
      margin-left: 15px;
    }
  }
}
.cart-single__product-price-value{
  display: inline-block;
  font-size: 24px;
}
.cart-single__product-price-currency{
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  vertical-align: bottom;
}
.cart-single__product-remove{
  cursor: pointer;
  @include media('<920px'){
    position: absolute;
    right: 10px; top: 10px;
  }
}