.nav{
	padding: 8px 0 5px;
	margin: 0;

	@include media('<700px'){
		position: relative;
		&:before,
		&:after{
			content: "";
			position: absolute;
			z-index: 2;
			top: 0;
			height: 100%;
		}
		&:before{
			left: 0;
			width: 30px;
			background-image: linear-gradient(-90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.97) 20px,#fff);
		}
		&:after{
			right: 0;
			width: 45px;
			background-image: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.9) 25px,#fff);
		}
	}
}
.nav__list{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: justify;
	&:after{
		content: '';
		display: inline-block;
		width: 100%;
	}
	
  @include support(1, ('display: flex')) {
    .nav__list {
      display: flex;
      justify-content: space-between;
			align-items: center;
			text-align: left;
			@include media('<821px'){
				justify-content: space-around;
			}
			@include media('<700px'){
				display: block;
				padding: 0 8px;
				white-space: nowrap;
				overflow-x: auto;
			}
    }
    .nav__list:after{
      display: none;
    }
  }
}
.nav__item{
	display: inline-block;
	vertical-align: top;
	@include media('<821px'){
		display: none;
		&.is--main-category{
			display: block;
		}
	}
	@include media('<700px'){
		&,
		&.is--main-category{
			display: inline-block;
			& + .nav__item{
				margin-left: 30px;
			}
		}
	}
}
.nav__link{
	display: block;
	padding: 8px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: $color__base;
	transition: all 300ms linear;
	&:first-child{
		padding-left: 0;
	}
	&:last-child{
		padding-right: 0;
	}
	&:hover{
		color: $color__primary;
	}
	@include media('<992px'){
		font-size: 14px;
	}
	@include media('<821px'){
		font-size: 16px;
	}
}