.user-auth{}
.user-auth__avatar{
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}
.user-auth__details{
	display: inline-block;
	vertical-align: middle;
}
.user-auth__link{
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	color: $color__base;
}
.user-auth__user-name{
	float: left;
	overflow: hidden;
	max-width: 80px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-overflow: ellipsis;
	text-transform: uppercase;
	text-decoration: none;
	@include media('<821px'){
		font-size: 12px;
		line-height: 18px;
	}
}
.user-auth__user-logout{
	float: left;
	margin-left: 3px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: $color__silver;
	@include media('<821px'){
		font-size: 12px;
		line-height: 18px;
	}
}
.user-auth__user-discount{
	display: block;
	clear: both;
	font-size: 12px;
	font-weight: 500;
	color: $color__base;
}