extends pug/base

append vars
  - html.classList.push('page page--order')

block content
  -var breadcrumbs = [{title:'Главная', url:'index.html'}, {title:'Корзина', url:'cart.html'}, {title:'Оформление заказа', url:'order.html'}];
  include pug/parts/breadcrumbs
  main.order
    .container
      h1.page__title Оформление заказа
      form(action="").form.js-form-checkout
        .row
          .col.col--4-of-12.col--s-12-of-12.col--m-4-of-12.col--l-4-of-12
            .order__column
              //- Кому доставить
              .form__title Кому доставить
              .form__field.is--required
                label.form__label Имя
                input(type="text", name="name").form__input
              .form__field.is--required
                label.form__label Телефон
                input(type="text", name="phone").form__input
              //- Куда везем
              .form__title Куда везем
              .form__field.is--required
                label.form__label Улица
                input(type="text", name="street")#street.form__input
              .row
                .col.col--6-of-12.col--s-12-of-12.col--m-12-of-12.col--l-6-of-12
                  .form__field.is--required
                    label.form__label Дом
                    input(type="text", name="house").form__input
                .col.col--6-of-12.col--s-12-of-12.col--m-12-of-12.col--l-6-of-12
                  .form__field
                    label.form__label Корпус
                    input(type="text", name="building").form__input
                .col.col--6-of-12.col--s-12-of-12.col--m-12-of-12.col--l-6-of-12
                  .form__field
                    label.form__label Квартира / Офис
                    input(type="text", name="apartment").form__input
                .col.col--6-of-12.col--s-12-of-12.col--m-12-of-12.col--l-6-of-12
                  .form__field
                    label.form__label Подъезд
                    input(type="text", name="entrance").form__input
                .col.col--6-of-12.col--s-12-of-12.col--m-12-of-12.col--l-6-of-12
                  .form__field
                    label.form__label Код домофона
                    input(type="text", name="doorphone_code").form__input
                .col.col--6-of-12.col--s-12-of-12.col--m-12-of-12.col--l-6-of-12
                  .form__field
                    label.form__label Этаж
                    input(type="text", name="floar").form__input

          .col.col--4-of-12.col--s-12-of-12.col--m-4-of-12.col--l-4-of-12
            .order__column
              //- Дата и время доставки
              .form__title Дата и время доставки
              .form__field--select
                .form__select
                  .form__input.form__input--dummy.js-choose-date-toggler 12 Мая в 15:06
                  input.is--hidden.js-choose-date-input(type="text", name="delivery_date", value="2018–12–29   15:06")

                  include pug/parts/choose-date
              .form__divider
              //- Способ оплаты
              .form__title Способ оплаты
              .form__field
                input(type="radio" name="payment_method" id="payment_method_1").form__checkbox
                label(for="payment_method_1") Наличными курьеру
                br
                input(type="radio" name="payment_method" id="payment_method_2").form__checkbox
                label(for="payment_method_2") Банковской картой
              //- Подтверждение заказа
              .form__title Подтверждение заказа
              .form__field
                input(type="radio" name="confirm_method" id="confirm_method_1").form__checkbox
                label(for="confirm_method_1") По телефону
                br
                input(type="radio" name="confirm_method" id="confirm_method_2").form__checkbox
                label(for="confirm_method_2") По WhatsApp
              .form__divider
              //- Количество персон
              .form__title Количество персон
              .form__field
                .inline.is--pr-100 Количество
                span.inline.qty.js-qty
                  i.qty__minus.icon.icon-minus.js-qty-minus
                  input(type="text", name="product_qty", value="1").qty__value.js-qty-value
                  i.qty__plus.icon.icon-plus.js-qty-plus

          .col.col--4-of-12.col--s-12-of-12.col--m-4-of-12.col--l-4-of-12
            //- Сдача с купюры
            .form__title Сдача с купюры
            .form__field--select
              .form__select
                input.is--hidden(type="text", name="order_change", value="Без сдачи", default)
                .form__input.form__input--dummy.js-order-change-toggler Без сдачи

                include pug/parts/order-change
            .form__divider
            //- Комментарий к заказу
            .form__title Комментарий к заказу
            .form__field
              textarea(name="", cols="30", rows="10", placeholder="Комментарий").form__textarea.is--one-row
            .form__divider
            //- Сумма к оплате
            .order__price
              .order__price-text Сумма к оплате
              .order__price-total
                span.order__price-total-value 25 080 
                span.order__price-total-currency тнг
            .order__msg
              | * Поля, отмеченные звёздочкой, #[br]обязательны к заполнению
            .form__divider
            //- Сумма к оплате
            .form__action
              button(type="submit").btn.btn--primary.btn--lg Отправить заказ
              
block body-end
  script.
    // Переключения текстовки в зависимости от выбора варианта оплаты
    $('#payment_method_1').on('click', function(){
      $(this).parents('.form').find('button[type="submit"]').text('Отправить заказ');
    });
    $('#payment_method_2').on('click', function(){
      $(this).parents('.form').find('button[type="submit"]').text('Оплатить');
    });

    //- Выпадающий список
    var addressList = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $("#street").autoComplete({
      minChars: 2,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = addressList;
          var matches = [];
          for (i=0; i<choices.length; i++)
              if (~choices[i].toLowerCase().indexOf(term)) matches.push(choices[i]);
          suggest(matches);
        }
    });

    //- Жмем на поле "Сдача с купюры"
    $('.js-order-change-toggler').on('click', function(event){
      event.preventDefault();

      $('.js-order-change').toggleClass('is--active');
    });

    //- Жмем на элемент в поле "Сдача с купюры"
    $('.js-order-change-item').on('click', function(event){
      event.preventDefault();

      //- считываем выбранное значение
      var changeValue = $(this).data('value')
      //- активируем выбранный элемент
      $('.js-order-change-item').removeClass('is--active');
      $(this).addClass('is--active');
      //- возвращаем выбранное значение и закрываем блок выбора
      $('.js-order-change-toggler')
        .text(changeValue).parent()
        .find('input').val(changeValue);
      $('.js-order-change').toggleClass('is--active');
    });




    //- Жмем на поле даты - показываем блок выбора даты
    $('.js-choose-date-toggler').on('click', function(event){
      event.preventDefault();

      $('.js-choose-date').toggleClass('is--active');
    });
    //- Жмем на кнопку установить - ззакрываем блок выбора, устанавливаем выбранное значение
    $('.js-choose-date-action').on('click', function(event){
      event.preventDefault();

      var fullDate = getFullDate( $('.js-choose-date') );
      var fullDateString = fullDate.day + ' ' + fullDate.month + ' в ' + fullDate.hours + ':' + fullDate.minutes;
      
      $('.js-choose-date-toggler').text(fullDateString);
      $('.js-choose-date-input').val(fullDateString);
      $('.js-choose-date').toggleClass('is--active');
    });
    $('.js-choose-date-change').on('click', function(){
      var $dateChoose = $('.js-choose-date');
      var $dateItemValue = $(this).parent().find('.js-choose-date-value');
      var monthIndex = $dateItemValue.data('index');
      var type = $dateItemValue.data('type');
      var newValue = $dateItemValue.text();
      var sign = ($(this).data('incriment')==='minus')?-1:1;

      //- Если это не поле месяца, обрабатываем цифровое значение
      if (monthIndex !== undefined){
        var newMonthIndex = getNewValue(type, parseInt(monthIndex)+sign);
        
        newValue = getMonthName(newMonthIndex);
                   setMonthIndex($dateItemValue, newMonthIndex);
      } else {
        newValue = getNewValue(type, parseInt(newValue) + sign);
      }
      
      $dateItemValue.text(newValue);

      //- Получим значение всей даты в виде строки
      var fullDate = getFullDate( $('.js-choose-date') );
      var fullDateString = fullDate.month + ' ' + fullDate.day + ' в ' + fullDate.hours + ':' + fullDate.minutes;
    });

    //- Получаем значение всей даты в виде строки
    function getFullDate(elem){
      var monthName = elem.find('[data-type="month"]').text();
      var fullDate = {
        year: elem.find('[data-type="year"]').text(),
        month: monthName,
        monthIndex: getMonthIndex(monthName)+1,
        day: elem.find('[data-type="day"]').text(),
        hours: elem.find('[data-type="hours"]').text(),
        minutes: elem.find('[data-type="minutes"]').text()
      }
      
      return fullDate;
    }

    //- Получаем новое значение в зависимости от типа данных
    function getNewValue(type, value){
      switch (type) {
        case 'year':
          var limit = {
            min: 2017,
            max: 2018
          }
          break;
        case 'month':
          var limit = {
            min: 0,
            max: 11
          }
          
          break;
        case 'day':
          var limit = {
            min: 1,
            max: 31
          }
          break;
        case 'hours':
          var limit = {
            min: 1,
            max: 24
          }
          break;
        case 'minutes':
          var limit = {
            min: 0,
            max: 59
          }
          break;
      
        default:
          break;
      }
      
      if ( value > limit.max ) {
        value = limit.min;
      }
      if ( value < limit.min ) {
        value = limit.max;
      }

      return parseInt(value);
    }

    //- Получаем название месяца
    function getMonthName(index){
      var monthes = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'];

      return monthes[index];
    }

    //- Получаем индекс месяца
    function getMonthIndex(monthName){
      var monthes = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'];

      return monthes.indexOf(monthName);
    }

    //- Получаем название дня
    function getDayName(dateString){
      var days = ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'];
      var d = new Date(dateString);
      var dayName = days[d.getDay()];

      return dayName;
    }

    //- Устанавливаем индекс значение для месяца = индексу в массиве месяцев
    function setMonthIndex(elem, index){
      elem.data('index', index);
    }