$sprites: (
	"arrow-down-md": (
		normal: (
			x: 40,
			y: 99,
			width: 14,
			height: 8,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 80,
			y: 198,
			width: 28,
			height: 16,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"arrow-down-white": (
		normal: (
			x: 124,
			y: 102,
			width: 14,
			height: 8,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 248,
			y: 204,
			width: 28,
			height: 16,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"arrow-down": (
		normal: (
			x: 20,
			y: 99,
			width: 18,
			height: 10,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 40,
			y: 198,
			width: 36,
			height: 20,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"cart-mob": (
		normal: (
			x: 80,
			y: 0,
			width: 24,
			height: 24,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 160,
			y: 0,
			width: 48,
			height: 48,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"cart-white": (
		normal: (
			x: 0,
			y: 0,
			width: 38,
			height: 38,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 0,
			y: 0,
			width: 76,
			height: 76,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"cart": (
		normal: (
			x: 40,
			y: 0,
			width: 38,
			height: 38,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 80,
			y: 0,
			width: 76,
			height: 76,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"close-small": (
		normal: (
			x: 66,
			y: 99,
			width: 8,
			height: 8,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 132,
			y: 198,
			width: 16,
			height: 16,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"close-tiny": (
		normal: (
			x: 56,
			y: 99,
			width: 8,
			height: 8,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 112,
			y: 198,
			width: 16,
			height: 16,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"close": (
		normal: (
			x: 0,
			y: 79,
			width: 18,
			height: 18,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 0,
			y: 158,
			width: 36,
			height: 36,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"delete": (
		normal: (
			x: 20,
			y: 79,
			width: 18,
			height: 18,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 40,
			y: 158,
			width: 36,
			height: 36,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"diameter-light": (
		normal: (
			x: 106,
			y: 36,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 212,
			y: 72,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"diameter-md": (
		normal: (
			x: 124,
			y: 48,
			width: 14,
			height: 14,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 248,
			y: 96,
			width: 28,
			height: 28,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"diameter": (
		normal: (
			x: 106,
			y: 0,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 212,
			y: 0,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"facebook": (
		normal: (
			x: 124,
			y: 82,
			width: 9,
			height: 18,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 248,
			y: 164,
			width: 18,
			height: 36,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"info": (
		normal: (
			x: 106,
			y: 18,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 212,
			y: 36,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"instagram": (
		normal: (
			x: 40,
			y: 79,
			width: 18,
			height: 18,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 80,
			y: 158,
			width: 36,
			height: 36,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"location": (
		normal: (
			x: 124,
			y: 64,
			width: 12,
			height: 16,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 248,
			y: 128,
			width: 24,
			height: 32,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"mail": (
		normal: (
			x: 0,
			y: 99,
			width: 18,
			height: 11,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 0,
			y: 198,
			width: 36,
			height: 22,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"minus-small": (
		normal: (
			x: 124,
			y: 16,
			width: 14,
			height: 14,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 248,
			y: 32,
			width: 28,
			height: 28,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"minus": (
		normal: (
			x: 60,
			y: 79,
			width: 18,
			height: 18,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 120,
			y: 158,
			width: 36,
			height: 36,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"phone-mob": (
		normal: (
			x: 80,
			y: 26,
			width: 24,
			height: 24,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 160,
			y: 52,
			width: 48,
			height: 48,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"phone": (
		normal: (
			x: 106,
			y: 54,
			width: 16,
			height: 16,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 212,
			y: 108,
			width: 32,
			height: 32,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"plus-red": (
		normal: (
			x: 124,
			y: 0,
			width: 14,
			height: 14,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 248,
			y: 0,
			width: 28,
			height: 28,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"plus-small": (
		normal: (
			x: 124,
			y: 32,
			width: 14,
			height: 14,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 248,
			y: 64,
			width: 28,
			height: 28,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"plus": (
		normal: (
			x: 80,
			y: 79,
			width: 18,
			height: 18,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 160,
			y: 158,
			width: 36,
			height: 36,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"user": (
		normal: (
			x: 0,
			y: 40,
			width: 37,
			height: 37,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 0,
			y: 80,
			width: 74,
			height: 74,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"vk": (
		normal: (
			x: 106,
			y: 72,
			width: 14,
			height: 18,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 212,
			y: 144,
			width: 28,
			height: 36,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"whatsapp-sm-white": (
		normal: (
			x: 80,
			y: 52,
			width: 18,
			height: 18,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 160,
			y: 104,
			width: 36,
			height: 36,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
	"whatsapp": (
		normal: (
			x: 39,
			y: 40,
			width: 36,
			height: 36,
			image: "sprites.png",
			total_width: 138,
			total_height: 110,
		),
		retina: (
			x: 78,
			y: 80,
			width: 72,
			height: 72,
			image: "sprites@2x.png",
			total_width: 276,
			total_height: 220,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
